In [1]:
# Imports 

import pandas as pd 
import numpy as py 
import os

In [41]:
data = pd.read_csv('../data/data_reduced.csv')
raw_data = pd.read_csv('../data/data_notscaled.csv')
data

        Factor1   Factor2   Factor3   Factor4
0     -1.097881  3.042659  0.441110  1.794368
1      0.837712  5.054604  4.593511  1.305088
2     -2.678498  5.816443 -3.505566 -0.007615
3     14.018654  1.812564  3.009246 -6.586102
4     -9.822322 -3.651578  0.906058 -2.784624
...         ...       ...       ...       ...
2759   0.087177  0.925191 -1.526079 -3.750073
2760  -3.611693  2.389590  7.200176 -3.914275
2761  -4.682466 -2.267832 -0.798776  2.611891
2762   1.248353 -2.739698 -2.559083 -5.045817
2763  -3.917706 -1.575847 -0.209593 -0.237547

[2764 rows x 4 columns]

I want to give the user the option to see recommended cats that are most or least like their own cat in each trait. In order to do so I will define a custom distance. If the user wants to see cats that are most similar in trait1 and trait3, but least similar in trait2 and trait4, the distance will have to be minimized for the former and maximized for the latter.

In [20]:
traits = data.columns.tolist()`

In [63]:
def distance(user1, user2, same_traits, different_traits):
    diff = user1 - user2
    dist = 0.0
    
    for i in same_traits:
        dist += diff[i] ** 2

    for i in different_traits:
        dist += (49 - diff[i] ** 2)

    return dist

In [61]:
# Example: recommend top 3 matches for each user
test = [-2.678498, 5.816443, -3.505566, -0.007615]
same_traits = ['Factor1', 'Factor3']
diff_traits = ['Factor2', 'Factor4']

recs = recommend(test, data, same_traits, diff_traits, top_k=3)

In [62]:
recs

[(507, -203.68930532329114),
 (601, -202.5516533226186),
 (154, -189.84925171327623)]